
* {
	font-family: Arial;
	font-size: large;
}

body {
	display: grid;
	grid-template-rows: auto 30px 50px;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		'expl expl'
		'input replace'
		'output copy';
}

#explaination {
	grid-area: expl;
	text-align: center;
}

#textInput {
	grid-area: input;
}

#textOutput {
	grid-area: output;
	resize: none;
	white-space: nowrap;
	overflow-x: scroll;
}

#copyButton {
	grid-area: copy;
}

#replaceButton {
	grid-area: replace;
}
